* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#main {
  background-color: #f3f3f3;
  margin: 30px 10px 30px 10px;
  border-radius: 4px;
  padding: 5px;
}

#title {
  text-align: center;
  padding: 25px;
}
#title p {
  margin-top: 25px;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#img-div {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 2px;
  text-align: center;
}
#image {
  padding: 10px 0px 20px 30px;
  border-radius: 5px;
}
#image-caption {
  margin: 20px;
}

#tribute-info {
  margin-top: 60px;
  text-align: left;
}
ul {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}
li {
  margin: 10px;
}

#footer {
  margin: 30px 60px 0 60px;
  font-style: italic;
}
#footer p {
  margin-top: 18px;
  text-align: center;
}
#tribute-link {
}
#tribute {
  text-align: center;
  margin: 20px 0 20px 0;
}
